{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "blog_css/blog.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <div id="header">
            <span class="logo"><a href="{% url "dashboard" %}">Bookmarks</a></span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a href="{% url "dashboard" %}">仪表盘</a>
                    </li>
                    <li {% if section == "blog" %}class="selected"{% endif %}>
                        <a href="{% url "blog:post_list_all" %}">博客</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="{% url "images:list" %}">图片</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="{% url "user_list" %}">人物</a>
                    </li>
                    <li {% if section == "zhaopin"%}class="selected"{% endif %}>
                        <a href="#">招聘</a>
                    </li>
                </ul>
            {% else %}
                <ul class="menu">
                    <li {% if section == "blog" %}class="selected"{% endif %}>
                            <a href="{% url "blog:post_list_all" %}">博客</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="{% url "images:list" %}">图片</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="{% url "user_list" %}">人物</a>
                    </li>
                    <li {% if section == "zhaopin"%}class="selected"{% endif %}>
                        <a href="#">招聘</a>
                    </li>
                </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    {% if request.user.first_name == None %}
                    Hello {{ request.user.first_name }}
                    {% else %}
                    Hello {{ request.user.username }}
                {% endif %}
                <a href="{% url "password_change" %}">修改密码</a>
                <a href="{% url "edit" %}">修改资料</a>
                <a href="{% url "logout" %}">退出</a>
                {% else %}
                <a href="{% url "login" %}">请登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url "register" %}">注册</a>
                {% endif %}
            </span>
        </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        {% if request.user.is_authenticated %}
        <h2>{{ request.user.username }}的博客</h2>
            <p>这是{{ request.user.username }}的博客</p>
        {% else %}
        <h2>游历尘埃</h2>
        {% endif %}
    </div>
</body>
</html>